<!-- <form class="example-container" [formGroup]="form" #frmMedida="ngForm" (ngSubmit)="operar()">

  <div [hidden]="true">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="idMedida">
      </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Medida" required formControlName="nombre">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="frmMedida.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" type="button" routerLink="/pages/medidas">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
  </button>
</form> -->

